In [0]:
board = [
    [7,8,0,4,0,0,1,2,0],
    [6,0,0,0,7,5,0,0,9],
    [0,0,0,6,0,1,0,7,8],
    [0,0,7,0,4,0,2,6,0],
    [0,0,1,0,5,0,9,3,0],
    [9,0,4,0,6,0,0,0,5],
    [0,7,0,3,0,0,0,1,2],
    [1,2,0,0,0,7,4,0,0],
    [0,4,9,2,0,6,0,0,7]
]

def print_board(board):
  for i in range(9):
    if i%3==0 and i!=0:
      print("-----------------------")
    for j in range(9):
      if j%3==0 and j!=0:
        print(" | ",end="")
      if j==8:
        print(board[i][j])
      else:
        print(str(board[i][j])+" ",end="")

In [2]:
print_board(board)

7 8 0  | 4 0 0  | 1 2 0
6 0 0  | 0 7 5  | 0 0 9
0 0 0  | 6 0 1  | 0 7 8
-----------------------
0 0 7  | 0 4 0  | 2 6 0
0 0 1  | 0 5 0  | 9 3 0
9 0 4  | 0 6 0  | 0 0 5
-----------------------
0 7 0  | 3 0 0  | 0 1 2
1 2 0  | 0 0 7  | 4 0 0
0 4 9  | 2 0 6  | 0 0 7

In [0]:
def find_empty(board):
  for i in range(9):
    for j in range(9):
      if board[i][j]==0:
        return (i,j)
  return None

In [0]:
def is_possible(x,y,n,board):
  for i in range(9):
    if(board[x][i]==n):
      return False
  for i in range(9):
    if(board[i][y]==n):
      return False
  x0=(x//3)*3
  y0=(y//3)*3
  for i in range(3):
    for j in range(3):
      if(board[x0+i][y0+j]==n):
        return False
  return True

In [0]:
def solve(board):
  find=find_empty(board)
  if not find:
    return True
  else:
    row,col=find
  
  for i in range(1,10):
    if is_possible(row,col,i,board):
      board[row][col]=i

      if(solve(board)):
        return True
      board[row][col]=0
  
  return False

In [6]:
print_board(board)
solve(board)
print("\nSolved Sudoku Board:\n")
print_board(board)

7 8 0  | 4 0 0  | 1 2 0
6 0 0  | 0 7 5  | 0 0 9
0 0 0  | 6 0 1  | 0 7 8
-----------------------
0 0 7  | 0 4 0  | 2 6 0
0 0 1  | 0 5 0  | 9 3 0
9 0 4  | 0 6 0  | 0 0 5
-----------------------
0 7 0  | 3 0 0  | 0 1 2
1 2 0  | 0 0 7  | 4 0 0
0 4 9  | 2 0 6  | 0 0 7

Solved Sudoku Board:

7 8 5  | 4 3 9  | 1 2 6
6 1 2  | 8 7 5  | 3 4 9
4 9 3  | 6 2 1  | 5 7 8
-----------------------
8 5 7  | 9 4 3  | 2 6 1
2 6 1  | 7 5 8  | 9 3 4
9 3 4  | 1 6 2  | 7 8 5
-----------------------
5 7 8  | 3 9 4  | 6 1 2
1 2 6  | 5 8 7  | 4 9 3
3 4 9  | 2 1 6  | 8 5 7